{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>

<p>This sample web application is based on data relating to food deserts.</p>

<p>You can learn more about food deserts at:</p>

<ol>
  <li>The <a href="https://en.wikipedia.org/wiki/Food_desert">Wikipedia page for Food Deserts</li>
  <li>The <a href="http://www.ers.usda.gov/data-products/food-access-research-atlas.aspx">USDA web page</a> where this data originally came from</li>
</ol>

<p>We build this application using data from the <a href="https://think.cs.vt.edu/corgis/">CORGIS</a> project.</p>

<p>We also used county adjacency data from here: <a href="https://github.com/pconrad/python-county-adjacency">https://github.com/pconrad/python-county-adjacency</a>.</p>

{% endblock %}
